body{
  background-color: black;
}
.APP{
  background-color:#fce4ec
;
  display:flex;
  justify-content:center ;
  align-items:center;
  text-align:center;
  height:100vh ;
  direction:rtl;
  min-height: 100vh;
  padding: 16px;
  

}
.Home{
  padding: 4%;
  background-color: #17a4e5 !important
  ;
  margin: 30% ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.Home h1{
  margin-left: 40%;
}

.CEDbutton:hover{
  background-color: aquamarine;
}


.todoCard{
  transition:all 0.2s !important;
}
.todoCard:hover{
  padding-bottom: 20px;
  padding-top: 20px;
}

.CEDbutton{
  transition:all 0.2s !important;

}
.CEDbutton:hover{
  background-color: rgb(219, 220, 220) !important;
  box-shadow: 0px 7px 7px rgb(0, 0, 0,0.4);
}

.Todo{
  background-color: aqua;
}

.app-button {
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  border-radius: 12px;
}

/* الأزرار الافتراضية */
.CEDbutton {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

/* الأيقونة */
.CEDbutton svg {
  font-size: 24px;
}
  

@media (max-width: 600px){
  .CEDbutton {
    width: 34px;
    height: 34px;
    border-radius: 12px;
  }

  .CEDbutton svg {
    font-size: 20px;
  }
}